/* Login */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../imglogin/mountainous-landscape-with-fog.jpg);
  background-size: cover;
  background-position: center center;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
  backdrop-filter: blur(20px);
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.control input {
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  outline: none;
  margin: 1em 0;
}

.control input[type="submit"] {
  background: crimson;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.control input[type="submit"]:hover {
  opacity: 1;
}

.link {
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.link a:hover {
  opacity: 1;
}

/***** Footer *****/

.footer-top {
  padding: 60px 0;
  
  background: #333;
  text-align: left;
  color: #aaa;
}

.footer-top h3 {
  padding-bottom: 10px;
  color: #fff;
}

.footer-about img.logo-footer {
  max-width: 74px;
  margin-top: 0;
  margin-bottom: 18px;
}

.footer-about p a {
  color: #aaa;
  border-bottom: 1px dashed #666;
}

.footer-about p a:hover,
.footer-about p a:focus {
  color: #fff;
  border-color: #aaa;
}

.footer-contact p {
  word-wrap: break-word;
}

.footer-contact i {
  padding-right: 10px;
  font-size: 18px;
  color: #666;
}

.footer-contact p a {
  color: #aaa;
  border-bottom: 1px dashed #666;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
  color: #fff;
  border-color: #aaa;
}

.footer-social a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 8px;
  color: #777;
  border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #aaa;
  border: 0;
}

.footer-social i {
  font-size: 24px;
  vertical-align: middle;
}

.footer-bottom {
  padding: 15px 0;
  background: #444;
  text-align: left;
  color: #aaa;
}

.footer-copyright p {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

.footer-copyright a {
  color: #fff;
  border: 0;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #aaa;
  border: 0;
}
